html {
  background-color: #fabe3a;
}

/*Menu Bar*/
.menuBar {
  background-color: white;
  height: 50px;
  /* margin-top: -16px; */
}

.menuBar > ul {
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
  overflow: hidden;
}

/* when a menu is selected */
.active {
  /* background-color: #ebe5e8; */
  color: rgb(206, 142, 22);
}

.menuBar > ul > li {
  border-right: 1px solid gray;
  /* IT WAS; display: inline; */
  float: left;
  /* list-style-type: none; */
}

.menuBar > ul > li:last-child {
  border-right: none;
}
.menuBar > ul > li > a {
  text-decoration: none;
  padding: 17px;
  color: black;
  display: block;
  /* width: 60px; */
  /* line-height: 50px; */
}
.menuBar > ul > li > a:hover {
  color: rgb(206, 142, 22);
  background-color: #eae8e6;
}

/* Enquiries */
.img-50-all {
  max-width: 50px;
  max-height: 50px;
}
.mr-20 {
  margin-right: 20px;
}
/*Place your orders */
.list-inline {
  list-style-type: none;
}
.list-inline > li {
  display: inline;
}
.list-inline > li > a {
  text-decoration: none;
  display: inline;
}

/* Products gallery */
.product_gallery {
  margin: 0 auto;
  width: 1200px;
  list-style: none;
}
.product_gallery li {
  float: left;
  width: 300px;
  margin-top: 30px;
  margin-right: 50px;
  border: 1px;
  color: #999;
}
.product_gallery img {
  width: 300px;
  height: 200px;
  float: left;
}

/* by default, the description is hidden until user hovers around the product */
.product_description {
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  width: 300px;
  height: 200px;
  /* Add Opacity and Transition to give the transition effect when hovered */
  opacity: 0;
  transition: 1s ease-in;
}
/* create the css block of the product description when you hover */
.product_gallery li:hover .product_description {
  opacity: 0.7;
}

.product_description p {
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.product_information {
  height: 40px;
  background: blue;
  width: 100%;
  float: left;
}

.product_information h4 {
  float: left;
  color: #fff;
  width: 70%;
  margin: 10px;
}
.product_information span {
  float: right;
  color: #fff;
  margin: 5px;
  font-size: 20px;
}
