.product_gallery {
  margin: 0 auto;
  width: 1000px;
  list-style: none;
}
.product_gallery li {
  float: left;
  width: 300px;
  margin-right: 50px;
  border: 1px;
  color: #999;
}
.product_gallery img {
  width: 300px;
  height: 200px;
  float: left;
}

/* by default, the description is hidden until user hovers around the product */
.product_description {
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  width: 300px;
  height: 200px;
  /* Add Opacity and Transition to give the transition effect when hovered */
  opacity: 0;
  transition: 1s ease-in;
}
/* create the css block of the product description when you hover */
.product_gallery li:hover .product_description {
  opacity: 0.7;
}

.product_description p {
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.product_information {
  height: 40px;
  background: blue;
  width: 100%;
  float: left;
}

.product_information h4 {
  float: left;
  color: #fff;
  width: 70%;
  margin: 10px;
}
.product_information span {
  float: right;
  color: #fff;
  margin: 5px;
  font-size: 20px;
}
